@model EmployeeModel
@{
    Layout = "/Views/_employee.cshtml";
}
<div class="row">
    <h3>Add Employee</h3>
    <form id="employeeForm" asp-action="SaveEmployee" asp-controller="Employee" method="post" enctype="multipart/form-data">

        <div class="row mt-4 form-group">
            <div class="col form-floating">
                <input id="EmpId" type="hidden" asp-for="Id" />
                <input id="inputFirstName" type="text" asp-for="FirstName" class="form-control" placeholder="First Name" aria-label="First Name" />
                <label for="inputFirstName" class="form-label">First Name</label>
            </div>
            <div class="col form-floating">
                <input id="inputLastName" type="text" asp-for="LastName" class="form-control" placeholder="Last Name" aria-label="Last Name" />
                <label for="inputLastName" class="form-label">Last Name</label>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col form-floating">
                <input id="inputDOB" type="date" asp-for="DOB" class="form-control" placeholder="DOB" aria-label="Date of Birth" onchange="check(this)" />
                <label for="inputDOB" class="form-label">DOB</label>
            </div>
            <div class="col form-floating">
                <select id="inputGender" asp-for="Gender" class="form-control">
                    <option value=""> -- Select --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <label for="inputGender" class="form-label">Gender</label>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col form-floating">
                <input id="inputEmail" type="text" asp-for="Email" class="form-control" placeholder="Email" aria-label="Email" />
                <label for="inputEmail" class="form-label">Email</label>
            </div>
            <div class="col form-floating">
                <input id="inputMobile" type="text" asp-for="Mobile" class="form-control" placeholder="Mobile Number" aria-label="Mobile Number" />
                <label for="inputMobile" class="form-label">Mobile Number</label>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col form-floating">
                <input id="inputDesignation" type="text" asp-for="Designation" class="form-control" placeholder="Designation" aria-label="Designation" />
                <label for="inputDesignation" class="form-label">Designation</label>
            </div>
            <div class="col form-floating">
                <input id="inputDOJ" type="date" asp-for="DOJ" class="form-control" placeholder="Date of joining" aria-label="DOJ" />
                <label for="inputDOJ">DOJ</label>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col form-floating">
                <input id="inputAddress" type="text" asp-for="Address" class="form-control" placeholder="Address" aria-label="Address" />
                <label for="inputAddress">Address</label>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col" style="text-align:center;">
                <button @* onclick="AddEmployee()" *@ type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> *@
<script>
    $(document).ready(function () {
        // $(".datepicker").datepicker({
        //     format: 'dd-mm-yyyy',
        //     autoclose: true,
        //     orientation: "bottom auto"
        // });

        $("#employeeForm").submit(function (event) {
            event.preventDefault();
        });
    });

    function check() {
        debugger;
        var dob = new Date($("#inputDOB").val());
        var now = new Date();
        var age = now.getFullYear() - dob.getFullYear();
        var monthDiff = now.getMonth() - dob.getMonth();

        if (monthDiff < 0 || (monthDiff === 0 && now.getDate() < dob.getDate())) {
            age--;
        }

        if (age < 18 || age > 60) {
            alert('Age must be between 18 and 60 years.');
            $("#inputDOB").val('');
        }
    }

    $("#employeeForm").submit(function (event) {
        event.preventDefault();

        var regex = /^[a-zA-Z]+$/;
        var emailPattern = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        var firstName = $("#inputFirstName").val();
        var lastName = $("#inputLastName").val();
        var email = $("#inputEmail").val();
        var Mobile = $("#inputMobile").val();
        var Address = $("#inputAddress").val();
        var DOB = $("#inputDOB").val();
        var Gender = $("#inputGender").val();
        var Designation = $("#inputDesignation").val();
        var DOJ = $("#inputDOJ").val();

        if (!firstName) {
            alert("Please enter first name");
            $("#inputFirstName").focus();
            return;
        }
        else if (!regex.test(firstName)) {
            alert("No special character allowed");
            $("#inputFirstName").focus();
            return;
        }

        if (!lastName) {
            alert("Please enter last name");
            $("#inputLastName").focus();
            return;
        }
        else if (!regex.test(lastName)) {
            alert("No special character allowed");
            $("#inputLastName").focus();
            return;
        }

        if (!email) {
            alert("Please enter Email")
            return;
        }
        else if (!emailPattern.test(email)) {
            alert("Please enter correct Email")
            return;
        }

        var employeeData = {

            Id: $("#EmpId").val(),
            FirstName: firstName,
            LastName: lastName,
            Email: email,
            Mobile: Mobile,
            Address: Address,
            DOB: DOB,
            Gender: Gender,
            Designation: Designation,
            DOJ: DOJ
        }; 

        var formAction = $(this).attr("action");

        $.ajax({
            method: 'POST',
            url: formAction,
            data: employeeData ,
            success: function (response) {
                alert("Saved successfully: " + response.message);
                $("#employeeForm")[0].reset();
            },
            error: function (xhr, status, error) {
                alert("Error: " + xhr.responseText);
            }
        });

    });


</script>
